body{
    box-sizing: border-box; /*Servirá para que cuando agreguemos padding no afecte el ancho de nuestros elementos*/
    background-color: #F2F2F2;
}

.contenedor{
    max-width: 1100px;
    margin: 0 auto;
}

h2{
    flex: 0 1 100%;
    text-align: center;
    font-size: 1.8rem;
}

h3{
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    font-weight: 700;
}

img{
    max-width: 100%;
}


.contenido{
    text-transform: uppercase;
    background-color: white;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.contenido h3{
    font-size: .9rem ;
    line-height: 1.4rem;
}

.contenido span{
    color: #db008d;
}

.boton{
    background-color: #009fd1;
    color: white;
    padding: 0.6rem 2rem; /*Esto servira para ponerle margenes al boton y haga la forma de este*/
    margin-top: 1rem; /*Solo se verá reflejado si ponemos el enlace en display: inline-block*/
    display: inline-block;/*Los enlaces siempre vienen con un display: inline y no se le podra poner un margin top*/
    text-decoration: none;
}


@media screen and (min-width:480px){
    .contenido-principal{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .entrada{
        flex: 0 1 calc(50% - 1rem);
    }
}

@media screen and (min-width:768px){
    .entrada{
        flex: 0 1 calc(33% - 1rem);
    }
}